name: Security Scan

on:
  schedule:
    - cron: '0 2 * * 1'
  workflow_dispatch:

jobs:
  audits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6-beta

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm

      - name: Install npm dependencies
        run: npm ci

      - name: npm audit
        run: npm audit --production --audit-level=high

      - name: Setup Rust toolchain
        run: |
          rustup set profile minimal
          rustup toolchain install stable
          rustup override set stable

      - name: Install cargo-audit
        run: cargo install cargo-audit

      - name: cargo audit
        run: cargo audit

      - name: Trivy filesystem scan
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: fs
          severity: CRITICAL,HIGH
          ignore-unfixed: true
          hide-progress: true
          format: table
          output: trivy-report.txt

      - name: Upload Trivy report
        uses: actions/upload-artifact@v5.0.0
        with:
          name: trivy-report
          path: trivy-report.txt
